html {
	background: #fdf7f7;
}

* {
	box-sizing: border-box;
}

.form {
	width: 200px;
	margin: 0 auto;
	margin-top: 30px;
}
	  	
.form__input {
	display: block;
    margin: 20px 0;
    width: 100%;
    border: 1px solid #ccc;
    padding:10px;
    border-radius: 2px;
}

.form__button {
	margin: 0 auto;
	margin-top: 10px;
	width: 100px;
	height: 35px;
	display: block;
	border-radius: 2px;
}
	  	
.error {
	border-color: red;
}
	  	
.result {
	width: 200px;
	height: 50px;
    margin: 0 auto;
	margin-top: 30px;
    padding: 15px;
    text-align: center;
}

.result.success {
	border: 1px solid green;
	color: green;
}

.result.error {
	border: 1px solid red;
	color: red;
}

.result.progress {
	border: 1px solid blue;
	color: blue;
}